<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>School Math Website</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link id="theme-style" rel="stylesheet" href="src/css/styles.css" />
  </head>
  <body>
    <div id="app">
      <header>
        <h1>
          <img
            src="https://afterschoolbackend-qm5c.onrender.com/img/logo.png"
            alt="Logo"
            class="logo"
          />
          {{ sitename }}
        </h1>
        <div class="header-right">
          <button
            class="cart-button"
            @click="toggleCart"
            :disabled="isCartEmpty"
          >
            <i class="fas fa-shopping-cart"></i>
            {{ showCart ? 'Back to Products' : `Checkout (${cartCount})` }}
          </button>

          <!-- Switch for theme toggle -->
          <label class="switch">
            <input type="checkbox" v-model="isDarkMode" @click="toggleTheme" />
            <span class="slider round"></span>
          </label>
        </div>
      </header>

      <div class="content" id="product_content" v-if="!showCart">
        <h1 class="section-heading">Courses:</h1>

        <!-- Search Bar -->
        <div class="search-container">
          <label class="search-label"
            >Use the form below to filter your search</label
          >
          <div class="search-bar">
            <input
              v-model="searchQuery"
              type="text"
              placeholder="Search for a class..."
              @input="performSearch"
            />
            <button @click="performSearch">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>

        <label for="sortAttribute">Sort by:</label>
        <select v-model="sortAttribute" id="sortAttribute" class="filter">
          <option value="price">Price</option>
          <option value="location">Location</option>
          <option value="title">Subject</option>
          <option value="availableInventory">Available Seats</option>
        </select>

        <button @click="toggleSortOrder" class="filter">
          Order: {{ sortOrder }}
        </button>

        <main>
          <transition-group name="fade" tag="div" class="product-grid">
            <div
              v-for="product in sortedProducts"
              :key="product.id"
              class="product"
              v-if="matchesSearch(product)"
              @click="showProductDetails(product)"
              style="cursor: pointer"
            >
              <div class="product-icon-container">
                <i :class="product.icon" class="product-icon"></i>
              </div>
              <div class="product-title">
                <span v-text="product.title"></span>
                <span class="product-price"
                  >${{ product.price.toFixed(2) }}</span
                >
              </div>
              <div style="margin-bottom: 5px">
                <i class="fas fa-map-marker-alt"></i> {{ product.location }}
              </div>
              <div>Slots: {{ product.availableInventory }}</div>
              <button
                class="add-to-cart"
                @click.stop="addToCart(product)"
                :disabled="isInCart(product)"
              >
                Add to Cart
              </button>
            </div>
          </transition-group>

          <!-- Modal with Fade Transition -->

          <div v-if="showModal" class="modal" @click.self="closeModal">
            <div class="modal-content">
              <h2>{{ modalProduct?.title }}</h2>
              <p>
                <strong>Price:</strong> ${{ modalProduct?.price.toFixed(2) }}
              </p>
              <p>
                <strong>Description:</strong>
                {{ modalProduct?.description || "No description available." }}
              </p>
              <p>
                <strong>Available Slots:</strong> {{
                modalProduct?.availableInventory }}
              </p>
              <p><strong>Location:</strong> {{ modalProduct?.location }}</p>

              <!-- Google Maps Embed -->
              <iframe
                v-if="modalProduct?.mapEmbed"
                :src="'https://www.google.com/maps/' + modalProduct.mapEmbed"
                width="600"
                height="450"
                style="border: 0"
                allowfullscreen
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
        </main>
      </div>

      <div v-if="isVisible" class="toast active">
        <div class="toast-content">
          <i class="fas fa-check check"></i>
          <div class="message">
            <span class="text text-1">{{ title }}</span>
            <span class="text text-2">{{ message }}</span>
          </div>
        </div>
        <i class="fa-solid fa-xmark close" @click="closeToast"></i>

        <div class="progress"></div>
      </div>

      <div class="content" id="checkout_form" v-if="showCart">
        <h2 class="section-heading">Checkout</h2>
        <div class="checkout-container">
          <div class="checkout-info">
            <h3 class="section-heading">Cart Items</h3>
            <div
              v-for="(item, productId) in cartItems"
              :key="productId"
              class="cart-item"
            >
              <div class="checkout-icon-container">
                <i :class="item.icon" class="checkout-icon"></i>
              </div>
              <div class="item-details">
                <span class="item-name">{{ item.name }}</span>
                <span class="item-price">Price: ${{ item.price }}</span>
                <span class="item-quantity">Quantity: {{ item.count }}</span>
                <span>Total: ${{ item.price * item.count }}</span>
              </div>
              <button class="delete-button" @click="removeFromCart(productId)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>

          <!-- Checkout Summary -->
          <div class="checkout-summary">
            <h3 class="checkout-heading">Order Summary</h3>
            <p>Total Price: ${{ totalPrice }}</p>
          </div>
        </div>

        <!-- User Information Form -->
        <div class="checkout-form">
          <h3 class="checkout-heading">Customer Information</h3>
          <form @submit.prevent="submitCheckout">
            <div class="form-group">
              <label for="name">Name:</label>
              <input
                type="text"
                id="name"
                v-model="checkoutData.name"
                required
              />
            </div>
            <div class="form-group">
              <label for="phone">Phone:</label>
              <input
                type="text"
                id="phone"
                v-model="checkoutData.phone"
                required
              />
            </div>
            <button
              type="submit"
              class="submit-order-button"
              :disabled="!isFormValid"
            >
              Submit Order
            </button>
          </form>
        </div>
      </div>
    </div>
    <script src="src/js/script.js"></script>
  </body>
</html>
