@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* Define CSS variables for light and dark mode */
:root {
  --font-family: "Inter", sans-serif;
  --body-bg: #f4f4f4;
  --header-bg: #f4f4f4;
  --header-color: #000;
  --cart-button-bg: #820000;
  --cart-button-color: #fff;
  --product-bg: #fff;

  --product-border: #ddd;
  --product-title-color: #333;
  --add-to-cart-bg: #fff;
  --add-to-cart-color: #000;
  --section-heading-color: #333;
  --section-info-color: #9d9d9d;
  --filter-bg: #fff;
  --filter-color: #000;
  --arrow-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="black" d="M7 10l5 5 5-5z"/></svg>'); /* Light mode arrow */
}

.dark-mode {
  --body-bg: #161616;

  --header-bg: #1c1c1c;
  --header-color: #fff;
  --cart-button-bg: #820000;
  --cart-button-color: #fff;
  --product-bg: #1c1c1c;
  --product-border: #fff;
  --product-title-color: #fff;
  --add-to-cart-bg: #000;
  --add-to-cart-color: #fff;
  --section-heading-color: #fff;
  --section-info-color: #9d9d9d;
  --filter-bg: #000;
  --filter-color: #fff;
  --arrow-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="white" d="M7 10l5 5 5-5z"/></svg>'); /* Dark mode arrow */
}

body {
  font-family: var(--font-family);
  margin: 0;
  background-color: var(--body-bg);
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--header-bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--header-color);
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.cart-button {
  background-color: var(--cart-button-bg);
  color: var(--cart-button-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 400;
  border: 1px solid var(--cart-button-bg);
}

.cart-button i {
  margin-right: 10px;
}

.cart-button:hover {
  background-color: #ffffff;
  color: black;
  border: 1px solid #000000;
}

.image-container {
  display: flex;
  background-color: var(--body-bg);
  justify-content: left;
  margin-top: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 20px;
  padding: 20px;
}

.product {
  background-color: var(--product-bg);
  color: var(--product-title-color);
  padding: 15px;
  border: 1px solid var(--product-border);
  border-radius: 6px;
  transition: transform 0.2s ease-in-out;
  margin: 10px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter, 
.fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0; /* Start with opacity 0 */
  transform: translateY(10px); /* Optional: slide up effect on enter */
}

.product-icon-container {
  display: flex; /* Use flexbox for the icon container */
  justify-content: center; /* Center the icon horizontally */
  margin-bottom: 40px;
  margin-top: 40px; /* Space below the icon container */
}

.product-icon {
  font-size: 100px; /* Icon size */
}

.product:hover {
  transform: translateY(-10px);
}

.product img {
  border: 1px solid var(--product-border);
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--product-bg);
}

.product-title {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  color: var(--product-title-color);
}

.product-price {
  color: var(--product-title-color);
  font-weight: 700;
  margin-left: 20px;
}

.add-to-cart {
  background-color: var(--add-to-cart-bg);
  color: var(--add-to-cart-color);
  padding: 8px 16px;
  border: 1px solid var(--product-border);
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  text-align: left;
  margin-top: 10px;
}

.add-to-cart:hover {
  background-color: #820000;
  color: white;
}

.section-heading {
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  margin-top: 20px;
  color: var(--section-heading-color);
}

.section-info {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  margin-top: 5px;
  margin-left: 40px;
  color: var(--section-info-color);
}

.content {
  margin-left: 100px;
  margin-right: 100px;
}

.filter {
  background-color: var(--filter-bg);
  color: var(--filter-color);
  padding: 10px 20px;
  border: 1px solid var(--product-border);
  border-radius: 5px;
  cursor: pointer;
  width: 16%;
  font-size: 16px;
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
}

.filter:hover {
  background-color: #ffffff;
  color: #000000;
}

.switch {
  margin-top: 15px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.header-right {
  margin-right: 30px;
}

.add-to-cart:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

label {
  font-size: 16px;
  font-weight: 500;
  color: var(--filter-color);
  margin-left: 40px;
}

select {
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  background-color: var(--background-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: var(--arrow-image);

  background-position: calc(100% - 20px) center;
  background-size: 24px 24px;
}

/* Checkout Form and Container Styles */
#checkout_form {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--product-bg);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  color: var(--primary-color);
}

/* Checkout Container and Items */
.checkout-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.checkout-info {
  flex: 1;
  padding: 20px;
  background-color: var(--body-bg);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  color: var(--filter-color); /* Added new color variable */
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--body-bg);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  color: var(--filter-color);
}

.checkout-icon-container {
  margin-right: 10px;
}

.checkout-icon {
  font-size: 48px;
}

.item-details {
  flex: 1;
  padding-left: 10px;
}

.item-name {
  font-weight: 600;
  font-size: 18px;
}

.item-price,
.item-quantity {
  display: block; /* Stack these items vertically */
  font-size: 14px;
  margin-top: 5px;
  color: var(--filter-color); /* Added new color variable */
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ff4d4f;
  font-size: 18px;
  padding: 5px;
  transition: color 0.2s ease;
}

.delete-button:hover {
  color: #ff7875;
}

/* Checkout Summary */
.checkout-summary {
  flex: 1;
  padding: 20px;
  background-color: var(--body-bg);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  color: var(--filter-color); /* Added new color variable */
}

.checkout-heading h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Checkout Form */
.checkout-form {
  margin-top: 30px;
  padding: 20px;
  background-color: var(--body-bg);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.checkout-form h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--filter-color);
}

.form-group {
  display: flex;
  flex-direction: column; /* Stack the label and input vertically */
  align-items: flex-start; /* Align the label and input to the left */
  margin-bottom: 15px;
}

.form-group label {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: left; /* Ensure text is aligned to the left */
  margin-left: 0px;
}

.form-group input {
  width: 100%; /* Use full width to align input properly */
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: var(--body-bg);
  color: var(--filter-color);
}

.submit-order-button {
  padding: 10px 20px;
  background-color: #820000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submit-order-button:hover {
  background-color: #820000;
}

.submit-order-button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

/* Styles for the search bar */
.search-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 40px;
}

.search-label {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 10px;
  margin-left: 0;
  color: var(--filter-color);

  font-size: 16px;
  font-weight: 500;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  width: 35%;
}

.search-bar input[type="text"] {
  border: none;
  outline: none;
  flex: 1;
  padding: 10px;
  color: var(--filter-color);
  background-color: var(--filter-bg);
}

.search-bar button {
  background-color: #820000;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

/* Modal Styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: var(--body-bg);
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.5);
  color: var(--filter-color);
}

.toast {
  position: absolute;
  top: 125px;
  right: 10px;
  border-radius: 12px;
  background: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active {
  transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}

.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  background-color: #70f800;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.message .text.text-1 {
  font-weight: 600;
  color: #333;
}

.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast .close:hover {
  opacity: 1;
}

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #f4f7ff;
}

.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #09ff00;
}

.toast .progress.active:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    left: 100%;
  }
}
