@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* Define CSS variables for light and dark mode */
:root {
  --font-family: "Inter", sans-serif;
  --body-bg: #f4f4f4;
  --header-bg: #f4f4f4;
  --header-color: #000;
  --cart-button-bg: #000;
  --cart-button-color: #fff;
  --product-bg: #fff;

  --product-border: #ddd;
  --product-title-color: #333;
  --add-to-cart-bg: #fff;
  --add-to-cart-color: #000;
  --section-heading-color: #333;
  --section-info-color: #9d9d9d;
  --filter-bg: #fff;
  --filter-color: #000;
  --arrow-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="black" d="M7 10l5 5 5-5z"/></svg>'); /* Light mode arrow */
}

.dark-mode {
  --body-bg: #161616;

  --header-bg: #1c1c1c;
  --header-color: #fff;
  --cart-button-bg: #000;
  --cart-button-color: #fff;
  --product-bg: #1c1c1c;
  --product-border: #fff;
  --product-title-color: #fff;
  --add-to-cart-bg: #000;
  --add-to-cart-color: #fff;
  --section-heading-color: #fff;
  --section-info-color: #9d9d9d;
  --filter-bg: #000;
  --filter-color: #fff;
  --arrow-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="white" d="M7 10l5 5 5-5z"/></svg>'); /* Dark mode arrow */
}

body {
  font-family: var(--font-family);
  margin: 0;
  background-color: var(--body-bg);
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--header-bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--header-color);
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.cart-button {
  background-color: var(--cart-button-bg);
  color: var(--cart-button-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 400;
  border: 1px solid var(--cart-button-bg);
}

.cart-button i {
  margin-right: 10px;
}

.cart-button:hover {
  background-color: #ffffff;
  color: black;
  border: 1px solid #000000;
}

.image-container {
  display: flex;
  background-color: var(--body-bg);
  justify-content: left;
  margin-top: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 20px;
  padding: 20px;
}

.product {
  border-radius: 6px;
  padding: 15px;
  text-align: left;
  color: var(--product-title-color);
  background-color: var(--product-bg);
  transition: transform 0.2s ease-in-out, opacity 1s ease;
  width: 90%;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter, 
.fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0; /* Start with opacity 0 */
  transform: translateY(10px); /* Optional: slide up effect on enter */
}

.product-icon-container {
  display: flex; /* Use flexbox for the icon container */
  justify-content: center; /* Center the icon horizontally */
  margin-bottom: 40px;
  margin-top: 40px; /* Space below the icon container */
}

.product-icon {
  font-size: 100px; /* Icon size */
}

.product:hover {
  transform: translateY(-10px);
}

.product img {
  border: 1px solid var(--product-border);
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--product-bg);
}

.product-title {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  color: var(--product-title-color);
}

.product-price {
  color: var(--product-title-color);
  font-weight: 700;
  margin-left: 20px;
}

.add-to-cart {
  background-color: var(--add-to-cart-bg);
  color: var(--add-to-cart-color);
  padding: 8px 16px;
  border: 1px solid var(--product-border);
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  text-align: left;
  margin-top: 10px;
}

.add-to-cart:hover {
  background-color: #000000;
  color: white;
}

.section-heading {
  text-align: left;
  font-weight: 700;
  font-size: 36px;
  margin-top: 20px;
  margin-left: 40px;
  color: var(--section-heading-color);
}

.section-info {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  margin-top: 5px;
  margin-left: 40px;
  color: var(--section-info-color);
}

.content {
  margin-left: 100px;
  margin-right: 100px;
}

.filter {
  background-color: var(--filter-bg);
  color: var(--filter-color);
  padding: 10px 20px;
  border: 1px solid var(--product-border);
  border-radius: 5px;
  cursor: pointer;
  width: 12%;
  font-size: 16px;
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
}

.filter:hover {
  background-color: #ffffff;
  color: #000000;
}

.switch {
  margin-top: 15px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.header-right {
  margin-right: 30px;
}

.add-to-cart:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

label {
  font-size: 16px;
  font-weight: 500;
  color: var(--filter-color);
  margin-left: 40px;
}

select {
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  background-color: var(--background-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: var(--arrow-image);

  background-position: calc(100% - 20px) center;
  background-size: 24px 24px;
}
.checkout-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.checkout-info {
  flex: 0 0 60%;
}

.checkout-summary {
  flex: 0 0 40%;
  padding: 20px;
  border-radius: 5px;
}

.cart-item {
  display: flex;
  align-items: center; /* Align items vertically centered */
  margin-bottom: 15px; /* Space between items */
  border-bottom: 1px solid #ccc; /* Optional: line separating items */
  padding-bottom: 10px; /* Space below each item */
  color: var(--product-title-color);
}

.item-details {
  flex: 1; /* Take the remaining space */
}

.item-name {
  font-size: 20px; /* Font size for item name */
  font-weight: 700; /* Make item name bold */
}

.item-price {
  display: block; /* Stack these items vertically */
  font-size: 14px;
  margin-top: 10px;
}
.item-quantity {
  display: block; /* Stack these items vertically */
  font-size: 14px;
}

.checkout-icon-container {
  flex: 0 0 40px; /* Fixed width for the icon container */
  margin-right: 30px; /* Space between icon and text */
}

.checkout-icon {
  font-size: 40px; /* Adjust size of the icon */
  color: var(--product-title-color);
}

.delete-button {
  background-color: #ff4c4c; /* Red background */
  color: white; /* White text */
  border: none; /* No border */
  padding: 5px 10px; /* Some padding */
  cursor: pointer; /* Pointer cursor on hover */
  margin-left: 10px; /* Space between item details and button */
  border-radius: 5px; /* Rounded corners */
}

